* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

nav {
  background-color: #eeeeee;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.logo-container img {
  width: 120px;
}

li {
  list-style: none;
}

.item {
  display: inline;
}

.item:not(:first-child) {
  margin-left: 10px;
}

.item a:link,
.item a:visited {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 10px;
  background-color: #000;
  border-radius: 3px;
  color: #ffffff;
  transition: background 0.2s ease-in-out;
}

.item a:hover {
  background-color: #444;
}

.main {
  min-height: 100vh;
  width: 1140px;
  margin: 100px auto;
}

table {
  margin: 0 auto;
}

table,
table tr th,
table td {
  border: 1px solid #999;
}

table td,
table tr th {
  padding: 10px;
}

table tbody tr td a:link,
table tbody tr td a:visited {
  text-decoration: none;
  color: #008000;
  font-weight: 700;
}

table tbody tr td a:hover {
  text-decoration: underline;
}

footer {
  padding: 20px;
  background-color: #000;
  color: #ffffff;
  text-align: center;
  width: 100%;
}

footer ul li {
  display: inline;
  padding-right: 20px;
}

.product-container {
  background-color: #999;
  padding: 20px;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.product-container h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.product-img-container {
  margin-right: 30px;
}

.product {
  display: flex;
  align-items: center;
}

.product h3 {
  margin: 15px 0;
}

.align-center {
  display: flex;
  align-items: center;
}

.checkmark-img {
  width: 16px;
  margin-right: 10px;
}
